.shop{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    
}
.cart{
    position: sticky;
    top: 0;
}



@media only screen and (max-width: 600px) {
    .products {
      display: grid;
      grid-template-columns: 1fr;
    }
    .shop{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
  }

@media only screen and (max-width: 600px ) {
    .products {
      display: grid;
      grid-template-columns: 1fr;
    }
    .shop{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
  }